<p>acceuil-admin works!</p>
<head> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<br>
<form (ngSubmit)="searchprod()">
    <input type="text" name="cherche" (ngModel)="cherche">
    <button type="submit">Valider</button>
</form>
<br>
<button (click)="afficherCategories()">Afficher liste des categorie</button>
<button (click)="connectionutil()">Connection</button>
<button (click)="logout()">deconnection</button>
<button (click)="afficherProduits()">Afficher liste des produits</button>
<button (click)="afficherProduitsC()">Afficher liste des produits pour les clients</button>
<button (click)="afficherPaniers()">Faire son panier</button>
<button (click)="afficherCommandes()">Afficher les commandes</button>
<button (click)="showPDF()" type="button" class="btn btn-dark">PDF des commandes</button>
