<p>modifprod works!</p>
<form (ngSubmit)="save()">
    <table>
        <tr>
           <td>Nom du Produit</td>
           <td><input type="text" name="nomProduit" [(ngModel)]="p.nomProduit"/></td>
       </tr>
       <tr>
           <td>Selectionner le fichier</td>
           <td><input type="file" name="fileInput" (change)="selectEvent($event)"/></td>
       </tr>
       <tr>
           <td>Quantite</td>
           <td><input type="number" name="quantite" [(ngModel)]="p.quantite"/></td>
       </tr>
       <tr>
       <td>Categorie :<select [(ngModel)]="selectedOption" name="selectedOption">
           <option *ngFor="let c of categories" value="{{c.idCategorie}}" >{{c.nomCategorie}}</option>   
       </select></td>
       </tr>
       <tr>
           <td><button type="submit">Valider</button></td>
       </tr>
   </table>
</form>